### Daten Vorbereitung

In [2]:
import pandas as pd

base_url = "https://raw.githubusercontent.com/opencampus-sh/einfuehrung-in-data-science-und-ml/main/"

df_umsatz = pd.read_csv(base_url + "umsatzdaten_gekuerzt.csv")
df_wetter = pd.read_csv(base_url + "wetter.csv")
df_kiwo = pd.read_csv(base_url + "kiwo.csv")

### Datum vereinheitlichen

In [3]:
# Datumsspalten in datetime umwandeln
df_umsatz['Datum'] = pd.to_datetime(df_umsatz['Datum'])
df_wetter['Datum'] = pd.to_datetime(df_wetter['Datum'])
df_kiwo['Datum'] = pd.to_datetime(df_kiwo['Datum'])

### Daten mergen

In [4]:
# Umsatzdaten mit Wetterdaten kombinieren
df = df_umsatz.merge(df_wetter, on='Datum', how='left')

# Kieler Woche ergänzen
df = df.merge(df_kiwo, on='Datum', how='left')
df['KielerWoche'] = df['KielerWoche'].fillna(0).astype(int)

### Feature eng.

In [5]:
# Neue Zeitfeatures
df['Wochentag'] = df['Datum'].dt.dayofweek
df['Monat'] = df['Datum'].dt.month
df['IstWochenende'] = df['Wochentag'].isin([5, 6]).astype(int)

In [6]:
# Überblick über den kombinierten Datensatz
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9334 entries, 0 to 9333
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   9334 non-null   int64
 1   Datum                9334 non-null   datetime64[ns]
 2   Warengruppe          9334 non-null   int64
 3   Umsatz               9334 non-null   float64
 4   Bewoelkung           9264 non-null   float64
 5   Temperatur           9318 non-null   float64
 6   Windgeschwindigkeit  9318 non-null   float64
 7   Wettercode           7009 non-null   float64
 8   KielerWoche          9334 non-null   int64
 9   Wochentag            9334 non-null   int32
 10  Monat                9334 non-null   int32
 11  IstWochenende        9334 non-null   int64
dtypes: datetime64[ns](1), float64(5), int32(2), int64(4)
memory usage: 802.3 KB

,id,Datum,Warengruppe,Umsatz,Bewoelkung,Temperatur,Windgeschwindigkeit,Wettercode,KielerWoche,Wochentag,Monat,IstWochenende
0,1307011,2013-07-01,1,148.828353,6.0,17.8375,15.0,20.0,0,0,7,0
1,1307021,2013-07-02,1,159.793757,3.0,17.3125,10.0,NaN,0,1,7,0
2,1307031,2013-07-03,1,111.885594,7.0,21.0750,6.0,61.0,0,2,7,0
3,1307041,2013-07-04,1,168.864941,7.0,18.8500,7.0,20.0,0,3,7,0
4,1307051,2013-07-05,1,171.280754,5.0,19.9750,12.0,NaN,0,4,7,0